#sctForm {
    align-items: center;
    width: 500px;
    margin: 0px 0px 20px 150px;
    display: inline-block;
}

.tituloRegistrarRestaurante {
    height: 52px;
    width: 1021PX;
    font-size: 45px;
    display: flex;
    justify-content: center;
    background: #a8293c;
    color: white;
    margin: 0px;
}

.cajonDeAnadirRest {
    height: 40px;
    width: 1000px;
    font-size: 18px;
    display: flex;
    justify-content: flex-star;
    border-bottom: 5px solid #a8293c;
}

.cajonDeAnadirRest a {
    font-size: 27px;
    width: 205px;
    margin: 1px;
    text-align: center;
    color: #000;
    text-decoration: none;
}

.error {
    border: 2px solid #87b3df;
}

.cajonDeAnadirRest a:hover {
    color: #a8293c;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s b957;
}

.datosRestaurantes,
.formRestaurantes {
    align-self: flex-end;
}

.formularioAgregarRestaurante {
    width: 870px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 140px;
}

.datosRestaurantes {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-around;
    height: 100vh;
}

.formRestaurantes {
    margin-bottom: 18px;
}

.checkboxRestaurantes {
    width: 235px;
    display: flex;
    justify-content: space-evenly;
    height: 415px;
    flex-direction: column;
}

#miFormularioRestaurantecheck {
    display: block;
    flex-direction: column;
    width: 226px;
    height: 100vh;
}

.datosRestaurantes :hover {
    color: #a8293c;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s b957;
    background: #d7b957;
}

#miFormularioRestaurantecheck :hover {
    color: #a8293c;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s b957;
    background: #d7b957;
}

#miFormularioRestaurantecheck p {
    height: 30px;
    font-size: 18px;
    text-align: left;
    text-decoration: underline #d7b957 solid 3px;
}

.registarRestaurantes :hover {
    color: #582e44;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s b957;
}

#miFormularioRestaurantecheck label {
    cursor: default;
    width: 198px;
    display: inline-block;
    height: 37px;
}

button#btnRegistar {
    border-top: 2px solid #bd7344;
    border-bottom: 2px solid #bd7344;
    border-left: 5px solid #bd7344;
    border-right: 5px solid #bd7344;
    width: 87px;
    height: 27px;
    font-size: 16px;
    border-radius: 12px;
    background-color: #bd7344;
}

button#Borrar {
    border-top: 2px solid #bd7344;
    border-bottom: 2px solid #bd7344;
    border-left: 5px solid #bd7344;
    border-right: 5px solid #bd7344;
    width: 89px;
    height: 27px;
    font-size: 16px;
    border-radius: 12px;
    background-color: #bd7344;
}