* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

 :focus {
    outline: none;
}
/*Para toda la página*/

body {
    color: #000000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}
#sctFooter {
    background-color: #8E7A3D;
}

footer div {
    display: flex;
    padding: 0px 30px 0px 30px;
    align-items: center;
    justify-content: space-around;
    background-color: #8E7A3D;
    width: 1286px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
}


footer div h2 {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    width: 80%;
    margin: auto;
    background: #ffff;
}

.aside-navegacion {
    height: 1000px;
    float: right;
}

.aside-contenido {
 
    height: 783px;
    width: 75%;
    float: left;
}

.footer {
    position: fixed;
    bottom: 0;
    align-self: center;
    /*  flex: ;
    color: #1f060a;
    font-size: 16px;*/
}
/*Navigation*/

.nav-menu a {
    color: #000000;
    text-decoration: none;
}

.nav-menu ul {
    list-style: none;
}

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    padding: 20px 0;
}

.nav-logo {
    width: 180px;
}
/*Nav izquierda*/

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px
}

.nav-main ul.nav-menu-right {
    margin-right: 50px;
}

.nav-main ul li a {
    padding: 6px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #A8293C;
}
/*Navegacion lateral*/

.navegacion ul {
    width: 250px;
    height: 100%;
    list-style: none;
    padding-bottom: 200px;
}

.navegacion .menu li.title-menu {
    padding: 20px;
    background: #f8f0d8;
    color: #A8293C;
    text-align: center;
    font-size: 22px;
}

.navegacion .menu a {
    display: block;
    padding: 20px;
    border-bottom: 1px solid #C6D0DA;
    font-size: 22px;
    font-weight: 200;
    text-decoration: none;
    color: #575D69;
}

.navegacion .menu a:hover {
    background: #798DA3;
    color: #fff;
}

.navegacion .menu li span.icon-menu {
    margin-right: 12px;
}

@media screen and (max-width: 320px) {
    .navegacion ul {
        width: 100%;
    }
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 0 0;
    }
}

@media all and (min-width: 800px) {
    .side-navegacion {
        order: 1;
    }
    .aside-contenido {
        order: 3;
    }
    .footer {
        order: 4;
    }
}

body {
    padding: 2em;
}

.tituloTiempoDeReserva{
height: 52px;
width: auto;
font-size: 45px;
display: flex;
justify-content: center;
background:#582e44;
color: white;
margin: 0px;
}
.cajonDeGeneral{
height: 39px;
width: 772px;
font-size: 18px;
display: flex;
justify-content: space-around;
border-bottom: 12px solid #a8293c;
flex-direction: row;
flex-wrap: nowrap;

}
.cajonDeGeneral a{
font-size: 27px;
width: 248px;
margin: 1px;
text-align: center;
color: #000;
text-decoration: none;
}
.cajonDeGeneral a:hover{

-webkit-transition: all .5s;
-moz-transition: all .5s;
transition: all .5s b957;
background-color: #bd7344;

}
.agregarTiempoDeReserva{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
flex-direction: column;
align-content: center;
align-items: stretch;
}


.containerEditar{

display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;

}
#buscar{
width: 246px;
height: 29px;
}
#btnRegistar {
border-block-style: inherit;
background-color:#ffffff;

}
#btnRegistar:hover {
-webkit-transition: all .5s;
-moz-transition: all .5s;
transition: all .5s b957;
background-color: #bd7344;


}
.containerEditar .icon{
position: absolute;
top: 50%;
margin-left: 17px;
margin-top: 17px;
z-index: 1;
color: #990606;
}
.tituloComentarios{
height: 60px;
width: auto;
font-size: 45px;
display: flex;
justify-content: center;
background:#582e44;

margin: 0px;
}
.tituloComentarios h2{
color: #ffffff;
font-size: 24px;
}
.busquedaDeRestaurantes{
display: flex;
place-content: stretch space-evenly;
flex-flow: column nowrap;
float: right;
width: 770px;
height: 50px;;
flex-direction: column;
flex-wrap: nowrap;
justify-content: flex-start;
}
.busquedaDeRestaurantes h3{

text-align: center;
font-size: 18px;

}

.cajonComentarios p{
text-align: center;
font-size: 16px;
width: 1029px;
}
.cajonComentarios{
display: flex;
place-content: stretch space-evenly;
flex-flow: column nowrap;
float: right;
width: 1108px;
width: 770px;
flex-direction: column;
flex-wrap: nowrap;
justify-content: flex-start;
}
.cajonComentarios h3{

text-align: center;
font-size: 20px;
width: 764px;
}
#sct-usuarios{
height: 300px;
width: 779px;
}
.buscar{
display: flex;
justify-content: center;
height: 29px;
}
#txt-filtro{
width: 348px;
height: 24px;
}
#tbl-usuarios thead{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
width: 748px;

}
th{    width: 416px;
text-align: -webkit-right;
color: #582e44;
font-size: 18px;
font-weight: normal;
padding: 8px;
border-top: 4px solid #d7b957;
border-bottom: 1px solid #fff;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

#tbl-usuarios{
width: 20px;
}
tbody{
width: 20px;
}
tr{
text-align: left;
display: flex;
justify-content: space-between;
font-size: 16px;
letter-spacing: normal;
vertical-align: baseline;
}
td{
letter-spacing: normal;
vertical-align: baseline;
text-align: center;
width: 426px;
height: 74px;
padding: 8px;   
 border-bottom: 1.5px solid #582e44;
}
table {    
font-size: 12px;   
 width: 480px; text-align: left;    border-collapse: collapse; }




tr:hover td { background:whitesmoke; color:#a8293c; }
.registarRestaurantes :hover {

color: #582e44;
-webkit-transition: all .5s;
-moz-transition: all .5s;
transition: all .5s b957;


}
button#btnRegistar{

border-top: 2px solid #bd7344;
border-bottom: 2px solid #bd7344;
border-left: 5px solid #bd7344;
border-right: 5px solid #bd7344;
width: 87px;
height: 27px;
font-size: 16px;  
border-radius: 12px;
background-color: #bd7344;
}