* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
  }
  
  :focus {
    outline: none;
  }
  /*Para toda la página*/
  .error{
    border: 2px solid #87b3df;
  }
  body {
    color: #000000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
  }
  #sctFooter {
    background-color: #8E7A3D;
  }
  
  footer div {
    display: flex;
    padding: 0px 30px 0px 30px;
    align-items: center;
    justify-content: space-around;
    background-color: #8E7A3D;
    width: 1286px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
  }
  
  
  footer div h2 {
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    width: 80%;
    margin: auto;
    background: #ffff;
  }
  
  .aside-navegacion {
    height: 1000px;
    float: right;
  }
  
  .aside-contenido {
  
    height: 1000px;
    width: 75%;
    float: left;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    align-self: center;
    /*  flex: ;
    color: #1f060a;
    font-size: 16px;*/
  }
  /*Navigation*/
  
  .nav-menu a {
    color: #000000;
    text-decoration: none;
  }
  
  .nav-menu ul {
    list-style: none;
  }
  
  .nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    padding: 20px 0;
  }
  
  .nav-logo {
    width: 180px;
  }
  /*Nav izquierda*/
  
  .nav-main ul {
    display: flex;
  }
  
  .nav-main ul li {
    padding: 10px
  }
  
  .nav-main ul.nav-menu-right {
    margin-right: 50px;
  }
  
  .nav-main ul li a {
    padding: 6px;
  }
  
  .nav-main ul li a:hover {
    border-bottom: 2px solid #A8293C;
  }
  /*Navegacion lateral*/
  
  .navegacion ul {
    width: 250px;
    height: 100%;
    list-style: none;
    padding-bottom: 200px;
  }
  
  .navegacion .menu li.title-menu {
    padding: 20px;
    background: #f8f0d8;
    color: #A8293C;
    text-align: center;
    font-size: 22px;
  }
  
  .navegacion .menu a {
    display: block;
    padding: 20px;
    border-bottom: 1px solid #C6D0DA;
    font-size: 22px;
    font-weight: 200;
    text-decoration: none;
    color: #575D69;
  }
  
  .navegacion .menu a:hover {
    background: #798DA3;
    color: #fff;
  }
  
  .navegacion .menu li span.icon-menu {
    margin-right: 12px;
  }
  
  @media screen and (max-width: 320px) {
    .navegacion ul {
        width: 100%;
    }
  }
  
  @media all and (min-width: 600px) {
    .aside {
        flex: 1 0 0;
    }
  }
  
  @media all and (min-width: 800px) {
    .side-navegacion {
        order: 1;
    }
    .aside-contenido {
        order: 3;
    }
    .footer {
        order: 4;
    }
  }
  
  body {
    padding: 2em;
  }
  .registarGerentes{
    width: 769px;
      height: 204px;
      flex-direction: column;
      display: flex;
      justify-content: center;
  
    }
    .tituloRegistrarRestaurante{
      height: 52px;
      width: auto;
      font-size: 45px;
      display: flex;
      justify-content: center;
      background:#582e44;
      color: white;
      margin: 0px;
  }
    .datosGerentes{
  
      display: flex;
      flex-direction: column;
      align-content: center;
      flex-wrap: nowrap;
      text-align: center;
      justify-content: flex-start;
      height: 206px;
      font-size: 22px;
    }
    .formGerentes{
      margin: 12px;
    }
    .formGerentes :hover{
      color:#a8293c;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s b957;
      background: #d7b957;
    }
  
    button#btnRegistar{
      border-top: 2px solid #bd7344;
      border-bottom: 2px solid #bd7344;
      border-left: 5px solid #bd7344;
      border-right: 5px solid #bd7344;
      width: 87px;
      height: 27px;
      font-size: 16px;  
      border-radius: 12px;
      background-color: #bd7344;
  
    }
    .listaGerentes h2{
      font-size: 24px;
      text-decoration: underline #d7b957 solid 3px;
      text-align: center;
  
    }
    #tbl-usuarios{
      width: 1004px;
      display: block;
      justify-content: center;
      float: right;
  }
    
    thead{
      text-align: center;
      width: 869px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around; 
    }
   
   
    th{
          text-align: center;
          width: 293px;      
    }
    tbody{
      float: right;
      width: 895px;
      text-align: center;
  }
    td{
      width: 264px;
      text-align: -webkit-left;
      font-size: 16px;
      height: 30px;
    }
    #sct-usuarios{
      width: 941px;
    }
    #sctFooter {
      background-color: #8E7A3D;
  }
  
  footer div {
      display: flex;
      padding: 0px 30px 0px 30px;
      align-items: center;
      justify-content: space-around;
      background-color: #8E7A3D;
      width: 1286px;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: stretch;
  }
  
  
  footer div h2 {
      text-align: center;
  }
  
  #sctInformacionPerfil table td a:hover{
      color: #d7b957;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s b957;
  }
  #sctInformacionPerfil table td a{
      color: #000;
      text-align: center;
      font-size: 16px;
      border:0px;
      padding: 10px 15px;
      text-decoration: none;
  }
  .sctFooter{
      width: 1035px;
  }
  table {    
    font-size: 12px;    margin: 45px;     width: 480px; text-align: left;    border-collapse: collapse; }
  
  th {    width: 552px;  
       font-size: 13px;     font-weight: normal;     padding: 8px;     
    border-top: 4px solid #d7b957;    border-bottom: 1px solid #fff;  }
  
  td { 
    width: 230px;  
     padding: 8px;   
         border-bottom: 1.5px solid #582e44;
    }
  
  tr:hover td { background:whitesmoke; color:#a8293c; }