#Usuario {
    float: right;
    padding: 5px 15px 5px 15px;
}

#FotoUsuario {
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
}

main div h3 {
    text-align: center;
}

main div p {
    text-align: center;
}

#sctInformacionPerfil {
    margin-bottom: 30px;
}

#sctInformacionPerfil table {
    border: 2px solid #582E44;
    border-collapse: collapse;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

#sctInformacionPerfil table th {
    background-color: #582E44;
    padding: 15px;
    text-align: center;
    color: #ffffff;
}

#sctInformacionPerfil table td {
    padding: 15px;
    text-align: center;
}